%h1 My messages
%p
  = link_to 'New Message', new_user_message_path(current_user.id), class: "btn"
- if @messages.any?
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th To
        %th Text
        %th(width="150px")
    %tbody
      - @messages.each do |message|
        %tr
          %td= "#{message.to_user.name}さん"
          %td= message.text
          %td 
            = link_to 'Edit', edit_user_message_path(current_user, message), class: "btn"
            = link_to 'Destroy', user_message_path(current_user, message), :confirm => 'Are you sure?', :method => :delete, class: "btn"
- else
  %p
    No messages.
