%p#notice= notice

%p
  %b User:
  = @message.user
%p
  %b Text:
  = @message.text
%p
  %b To user:
  = @message.to_user_id

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
