<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Presentation</title>

    <meta charset='utf-8'>
    <script
      src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
      
<% @users.each_with_index do |u,ui| %>
    <% messages = Message.find_all_by_to_user_id(u.id).shuffle %>
    <% messages.each_with_index do |m,mi| %>
        <% if mi % 7 == 0 %>
            <article class='smaller'>
            <h3>
              <%= "#{u.name}さんへ (#{mi>6?2:1}/2)" %>
            </h3>
            <ul>
        <% end %>
        <li>
            <%= m.text %>
            <%= "(#{m.user.name})" %>
        <% if (mi+1) % 7 == 0 || m == messages.last %>
            <h5>
                <%= "(#{(ui*2)+1+(mi>6?1:0)} of #{@users.count * 2})" %>
            </h5>
            </article>
        <% end %>
    <% end %>
<% end %>

    <article>
        <h1>おわり</h2>
        <p><%= link_to "最初から", pages_slide_path %></p>
    </article>
        
    </section>

  </body>
</html>

